:root {
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    background: var(--purple-100);
    position: relative;
    display: flex;
    padding: 5rem 1.25rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background-img {
    position: absolute;
    top: 0;
    width: 100%;

    z-index: -1;
}

.card {
    background: #fff;
    max-width: 40.6rem;
    border-radius: 0.9rem;
    z-index: 10;
    padding: 1.5rem;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.25);
}

.faq-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.25rem;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.faq-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.faq-answer {
    display: none;
    margin-top: 8px;

}

h1 {
    color: var(--purple-950);
    font-size: 3.4rem;
}

h4 {
    color: var(--purple-950);
    font-size: 18px;
}

p {
    color: var(--purple-600);
    font-weight: 400;
    line-height: 1.5;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .icon {
    content: url("./assets/images/icon-minus.svg");
}

@media (max-width: 23.4rem){
    .background-img {
        content: url('./assets/images/background-pattern-mobile.svg')
    }
    .card {
        max-width: 330px;
        border-radius: 8px;
    }
    h1 {
        font-size: 32px;
    }
    h4 {
        font-size: 16px;
        font-weight: 600;
    }
    p {
        font-size: 14px;
    }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
