:root {
    --Purple-600: hsl(246, 80%, 60%);

    --Orange-300: hsl(15, 100%, 70%);
    /* (work) */
    --Blue-300: hsl(195, 74%, 62%);
    /* (play) */
    --Pink-400: hsl(348, 100%, 68%);
    /* (study) */
    --Green-400: hsl(145, 58%, 55%);
    /* (exercise) */
    --Purple-700: hsl(264, 64%, 52%);
    /* (social) */
    --Yellow-300: hsl(43, 84%, 65%);
    /* (self care) */

    --Navy-950: hsl(226, 43%, 10%);
    --Navy-900: hsl(235, 46%, 20%);
    --Purple-500: hsl(235, 45%, 61%);
    --Navy-200: hsl(236, 100%, 87%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rubik, sans-serif;

    color: #fff;
    background-color: var(--Navy-950);
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}


.grid-container {
    margin: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

.card {
    background: var(--Navy-900);
    border-radius: 1rem;
    /*width: 327px;*/
    overflow: hidden;
    position: relative;
}

/** main card  **/

.top-section {
    display: flex;
    gap: 1rem;
    padding: 25px;
    background: var(--Purple-600);
    border-radius: 1rem;
}

.top-section img {
    width: 66px;
    height: 66px;
    border: 3px solid #fff;
    border-radius: 50%;
}

/* .info {
    margin: auto 0;
} */

.info h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 5px 0;
}

.info span {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    color: var(--Navy-200)
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    opacity: 0.7;
    color: var(--Purple-500)
}

li {
    list-style: none;
    cursor: pointer;
}

li:hover {
    color: #fff;
    opacity: 1;
}

/** cards colors**/

.work {
    background: var(--Orange-300);
}

.play {
    background: var(--Blue-300);
}

.study {
    background: var(--Pink-400);
}

.exercise {
    background: var(--Green-400);
}

.social {
    background: var(--Purple-700);
}

.self-care {
    background: var(--Yellow-300);
}

/** cards **/

.card-header {
    /*position: relative;*/
    height: 65px;
    padding: 0 1rem;
}

.card-header img {
    /*float: right;
    margin-top: -25px;*/

    position: absolute;
    top: -10px;
    right: 10px;
    pointer-events: none;
}

.clear {
    clear: both;
}

.card-body {
    background-color: var(--Navy-900);
    padding: 30px 20px 20px;
    border-radius: 12px;
    margin-top: -30px;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.card-body:hover {
    background-color: hsl(236, 45%, 30%);
}

.card-body .top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 0;
}

.card-body .top-info p {
    font-size: 14px;
    font-weight: 500;
}

.card-body .top-info img:hover {
    color: #fff;
}

.bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.bottom-info h1 {
    font-size: 28px;
    font-weight: 300;
}

.bottom-info p {
    font-size: 12px;
    color: hsl(236, 100%, 87%);
}

/* active state */
.active {
    color: #fff;
}

/*media desktop*/

@media (min-width: 795px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        max-width: 1110px;
        max-height: 516px;
    }

    .span-row-2 {
        grid-row: span 2;
    }

    .card {
        max-width: 270px;
    }

    .top-section,
    ul {
        flex-direction: column;
        font-size: 18px;
        padding: 30px;
    }

    ul {
        gap: 1.6rem;
    }

    .top-section img {
        width: 80px;
        height: 80px;
        margin-bottom: 1.5rem;
    }

    .info h1 {
        font-size: 40px;
        margin-bottom: 3.5rem;
    }

    .card-body {
        margin-top: -20px;
        padding: 30px;
        height: 100%;
    }

    .card-body .top-info p {
        font-size: 18px;
    }

    .bottom-info {
        gap: 1rem;
        margin: 2rem 0 0;
        flex-direction: column;
        align-items: start;
    }

    .bottom-info h1 {
        font-size: 50px;
    }

    .bottom-info p {
        font-size: 15px;
    }
}